/* . class
   # id */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-title {
  margin-right: 8em !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo-image {
  width: 50px;
  height: auto;
  margin-right: 2em;
}

.test {
  margin: auto;
  width: 88%;
  padding: 1em;
}

.flowgraph_container {
  height: 400px;
  width: 100%;
  /* border: 1px solid #b9cad2; */
  padding: 1em;
  background-color: white;
}

#GraphOntology {
  border-radius: 20px;
  ;
}

.tabContentContainer {
  padding: 1em 0em 1em 0em;
  margin-right: 1em;
}

.collection_list {
  /* border: 1px solid #b9cad2; */
  /* background-color: white; */
}

.iconWrapper {
  position: relative;
  top: 8px;
}

.floatingNodeIcon {
  scale: 1.2;
  background-color: #b9cad2 !important;
  border-radius: 40px;
  padding: 4px;
  color: black !important;
  cursor: pointer;
}

.floatingNodeIcon:hover {
  transform: scale(1.1);
  transition: 0.1s ease-in-out;
}

.nodeDeleteIcon {
  position: absolute;
  top: 20px;
}

.nodeCaption {
  color: #68686a;
  border-radius: 4px;
}

.nodeHeaderContainer {
  /* background-color: #b9cad2; */
  padding: 2px 6px 2px 6px !important;
  border-bottom: 1px solid rgb(218, 218, 218);
  border-radius: 1px !important;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.nodeCard {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05) !important;
  /* border-radius: 0px !important; */
  /* border: 1px solid #b9cad2 !important; */
}

.nodeCardContent {
  width: au
}

.attributeDropdown {
  width: auto !important;
}

.css-wurhai-MuiAutocomplete-root {
  width: 100% !important;
}

.reactFlowCardContent {
  cursor: initial;
  padding-bottom: 0px !important;
}

.deleteHover:hover {
  background-color: #D15256 !important;
  transition: 0.1s ease-in-out;
}

.analyzeHover:hover {
  background-color: #b3d152 !important;
  transition: 0.1s ease-in-out;
}

#inputContainer {
  width: 200px;
}

#abc {
  padding-left: 0.5em;
}

.nodeHandle {
  background: #68686a !important;
  width: 14px !important;
  /* Size of the node handle */
  height: 14px !important;
  /* Size of the node handle */
  border-radius: 0 !important;
}


.nodeHandleSmall {
  background: #68686a !important;
  width: 8px !important;
  /* Size of the node handle */
  height: 8px !important;
  /* Size of the node handle */
  border-radius: 0 !important;
}

.edgeIcon {
  color: #242021;
}

.edgeChip {
  background-color: #d8e071 !important;
}

.pathChip {
  background-color: #ffb973 !important;
}

.nodeListItem:hover {
  background-color: #b9cad221;
}

.addNodeIcon {
  padding: 4px !important;
  border-radius: 0px !important;
}

.addNodeIcon:hover {
  background-color: #b9cad2 !important;
  padding: 4px !important;
  border-radius: 0px !important;
}

#executeFlowButton {
  background-color: #72a137 !important;
  color: white;
  /* position: relative; */
  /* left: 422px; */
  /* top: -40px; */
}

.customChip {
  justify-content: left !important;
  width: 110px !important;
  padding: 4px !important;
  border-radius: 1px !important;
  border: 1px solid rgb(218, 218, 218) !important;
  margin: 2px;
  cursor: pointer !important;
}

.customChip:hover {
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
  /* background-color: #b9cad2 !important; */
  font-weight: bold;
}

.nodeInputContainer {
  /* background-color: red; */
  height: 100%;
  width: 100%;
}

.customList {
  width: fit-content;
}

.testitem {
  padding-right: 2em;
}

.expandCollapseBar {
  background-color: lightgray;
  border-radius: 40px;
}

.expandCollapseBar:hover {
  cursor: pointer;
}

.edgePropsContainer {
  padding: 1em;
}

.variableInputFieldContainer {
  /* background-color: rgb(237, 236, 236); */
  width: 100%;
  padding: 0.3em;
  margin-top: 4px;
  border-radius: 10px;
}

.variableInputFieldItem {
  width: 100% !important;
}

.speedDial>button {
  background-color: inherit;
  box-shadow: none;
  color: #242021;
}

.speedDial>button:hover {
  background-color: inherit;
}

.orConnectorButton {
  /* background-color: #fecf43 !important; */
  background-color: #ffffff !important;
  /* border: 1px solid #666 !important; */
  border-radius: 1px !important;
}

.orConnectorButton:hover {
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
  border: 1px solid #666 !important;
}

.orConnectorNode {
  /* background-color: #fecf43 !important; */
  background-color: #ffffff !important;
  border: 1px solid #666 !important;
  border-radius: 1px !important;
  padding: 2px 4px 2px 4px;
}

/* .flowCanvas {
  background-color: white;
} */

.appMenuItem {
  border-bottom: 6px solid white;
  border-top: 6px solid white;
}

.appMenuItem:hover {
  border-bottom: 6px solid black;
  cursor: pointer;
}

.dlrButton:hover {
  /* transform: scale(1.05); */
  transition: 0.1s ease-in-out;
  background-color: black !important;
  color: white !important;
}

.dlrButton {
  background-color: white !important;
  color: black !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  font-weight: bold !important;
  border: 1px solid black !important;
}

.nodeEditorContainer {
  width: 70%;
  float: right;
}

.hover:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
}

.documentLabel {
  border-radius: 0 !important;
  background-color: inherit !important;
  /* border: 1px solid black !important; */
}

#object_graph_legend {
  /* background-color: red; */
  width: fit-content;
  position: relative;
  top: -750px;
  left: 50px;
  padding: 1em;
}

#object_graph_loading {
  /* background-color: red; */
  width: fit-content;
  position: relative;
  top: 70px;
  left: -473px;
  z-index: 10;
  padding: 1em;
}

#object_graph_export {
  /* background-color: red; */
  width: fit-content;
  position: relative;
  top: -825px;
  left: 2250px;
  padding: 1em;
}

.legendEntry {
  background-color: #ececec;
  padding: 0px 8px 0px 8px;
}

.reactCanvas {
  margin-bottom: 6em;
  border: 1px dashed black;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.uploadContainer {
  background-color: #ececec;
  padding: 1em;
  border-radius: 4px;
  margin-bottom: 1em;
}